.header {
  padding: 41px 20px 20px;
}

.header img {
  display: flex;
  margin: 0 auto;
}

.link {
  color: white;
}

.navigation {
  padding-top: 42px;
  display: flex;
  margin: 0 auto;
}

.navigation-array {
  gap: 40px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  list-style-type: none;
}

.login-button {
  all: unset;
  color: black;
  background: white;
  border-radius: 20px;
  padding: 15px 30px;
  top: 32px;
  right: 20px;
  font-family: "Inter";
  position: absolute;
  cursor: pointer;
}
