@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.woff2);
}

@font-face {
  font-family: "Ablation";
  src: url(./../assets/fonts/Ablation-Extra-Bold.otf);
}

.background-image {
  background: url(../assets/images/background-image-main.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  all: unset;
  cursor: pointer;
  font-family: "Inter";
}

h1 {
  all: unset;
  color: #fff;
  font-family: Ablation;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 108.1%;
}

h2 {
  all: unset;
  font-family: Ablation;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 108.1%;
}

h3 {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 141.023%;
}

p {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 144.523%;
}

@media (min-width:768px) {
  h1 {
    font-size: 20px;
    font-weight: 800;
    line-height: 98.07%; 
  }

  h2 {
    font-size: 84px;
    font-weight: 800;
    line-height: 108.1%;
  }

  h3{
    font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: 141.023%;
  }

  p{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.523%;
  }

  
.background-image {
  background: url(../assets/images/background-image-main-desktop.svg);
  background-repeat: no-repeat;
    background-size: cover;  
}

}


