.title {
  color: #fff;
}

.text-part {
  width: 15rem;
  border-bottom: solid 1px white;
  padding-top: 36px;
}

.main {
  padding: 82px 20px 69px;
}

.subtitle {
  color: #ddd;
}

.more-info {
  background: rgb(246 249 232 / 16%);
  border-radius: 20px;
  padding: 20px 22px;
  margin-top: 27px;
  margin-bottom: 95px;
}

.about-us {
  padding-bottom: 48px;
}

.more-info-text-container {
  text-align: center;
}

.about-part {
  padding-left: 20px;
}

.about-element {
  color: #ffffff;
}

.about-array-container {
  padding-left: 30px;
}

.join-us-part {
  padding: 0 30px;
}

.join-us-text {
  color: #ffc700;
}

.join-us-button {
  justify-content: center;
  display: flex;
  padding: 11px 30px;
  border-radius: 85px;
  background: #ffc700;
  color: #fff;
}

.join-us-text-container {
}
